html
  head
    title Paaspop

    link(rel='stylesheet', href='public/style.css')
    link(rel='stylesheet', href='public/simple-grid.css')
    link(href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet")

  body.crack2
    br
    br
    br
    h1.center Dankjewel voor het stemmen!

    br
    br
    div.center
      img(src='public/vote_gif.gif' alt='cats')
