html
  head
    title Paaspop
    link(rel='stylesheet', href='public/style.css')
    script(src='public/reloadpage.js' type="module")
    link(href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet")
  body
    div.container
      p Nieuwe kwestie opgeslagen. Pagina zal herladen in 5 seconden.