html
  head
    title Paaspop
    
    link(rel='stylesheet', href='public/style.css')

    script(src='public/Chart.js' type="text/javascript")
    script(src='public/result_chars.js' type="module")
    
    link(href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet")
  body
    canvas(style={width: "400px"})#myChart